.intro {
  margin: 2rem;
}

.introWrapper {
  display: grid;
  grid-template-columns: 60% 40%;
  justify-items: center;
  max-width: 70%;
  margin: 3rem auto;
  padding: 0.8rem 1.2rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background-color: var(---light);
  text-align: center;
  font-family: var(---basefont);
  font-size: 1.7rem;
  color: var(---basedark);
}

.introImage {
  max-width: 98%;
  height: auto;
  padding: 0.5rem 0.7rem;
}

.intro button:hover {
  border: 2px solid var(---baselight);
  background-color: transparent;
  color: var(---basedark);
}

.intro a {
  font-family: var(---basefont);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.intro a:visited {
  color: inherit;
}

.aboutButton, .getUpdatesButton {
  margin: 1rem;
  padding: 0.5rem 0.7rem;
  border: 2px solid var(---basedark);
  border-radius: 3px;
  background-color: #214f94;
  color: var(---light);
  font-size: 1.2rem;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .introWrapper {
    max-width: 85%;
  }
}

@media (max-width: 768px) {
  .intro {
    margin: 3rem 1.5rem;
  }

  .introWrapper {
    grid-template-columns: 100%;
    max-width: 100%;
    margin: 1rem auto;
    font-size: 1.5rem;
  }

  .introWrapper div:nth-of-type(2) {
    order: 1;
  }
  .introWrapper div:nth-of-type(1) {
    order: 2;
  }

  .introImage {
    max-width: 60%;
    min-width: 60%;
    padding: 0rem;
    border-radius: 50%;
  }
}

@media (max-width: 450px) {
  .intro {
    margin: 2rem 1rem;
  }

  .introWrapper {
    font-size: 1.35rem;
  }

  .buttonOne {
    font-size: 1.1rem;
  }
}
/* done */