.contact {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding-top: 3.1rem;
  padding-bottom: 3rem;
  background-color: var(---basedark);
  background-image: radial-gradient(circle, #ffc400b4 1px, transparent 0);
  background-size: 1.5rem 1.5rem;
  font-weight: 400;
  font-family: var(---basefont);
  color: var(---basedark);
}

.contactHeroDivider {
  height: 7.2rem;
  margin: -2rem 0 0;
  padding-top: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: var(---light);
  background-image: radial-gradient(circle, #0036667d 1px, transparent 0);
  background-size: 1.5rem 1.5rem;
  transform: skew(0deg, -2deg);
  z-index: 1;
}

.contactHeroDivider h1 {
  margin: 0;
  padding: 0.3rem 0 0 0;
}

.contactHeroDivider div {
  transform: skew(0deg, 2deg);
  text-align: center;
  font-size: 3.4rem;
}

/* Headline Animation */

.noContactHeadline {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-in-out, transform 1.7s ease-in-out;
}

.contactHeadline {
  opacity: 1;
  transform: translateX(0%);
}

/*  Content */

.contactWrapper {
  margin: 5rem;
  padding: 3rem;
  background-color: var(---light);
  text-align: center;
}

.contactWrapper h2,
.contactWrapper p {
  text-align: center;
  font-size: 1.7rem;
}

.contactWrapper p {
  line-height: 1.5;
}

.contactLinks{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.linkWrapper{
  margin-inline:1rem;
}

.linkWrapper{
  margin:0 0.3rem;
}

.contactLink {
  margin-inline: 1.5rem;
  font-size: 2.2rem;
  color: var(---baselight);
}

.contactLink :hover {
  color: var(---dark);
}
@media (max-width: 768px) {
  .contactHeroDivider {
    height: 5.2rem;
  }
  .contactHeroDivider div {
    font-size: 2rem;
  }

  .contactWrapper {
    margin: 2rem;
    padding: 1rem 2rem;
  }
  .contactWrapper p {
    line-height: 1.4;
    font-size: 1.4rem;
  }

  .contactLink {
    margin-inline: 1.2rem;
    font-size: 1.9rem;
  }
}
@media (max-width: 450px) {
  .contactHeroDivider {
    margin: -2.5rem 0 0;
    height: 5.1rem;
  }
  .contactHeroDivider h1 {
    padding: 0.5rem 0 0 0;
  }
  .contactWrapper {
    margin: 2rem 1rem;
    padding: 1rem 1rem;
  }
  .contactWrapper h2 {
    font-size: 1.5rem;
  }
  .contactWrapper p {
    line-height: 1.4;
    font-size: 1.2rem;
  }

  .contactLink {
    margin-inline: 1rem;
    font-size: 1.7rem;
  }
}
@media (max-width: 360px) {
  .contactHeroDivider div {
    font-size: 1.8rem;
  }
}
/* done */
