.home {
  min-height: 200vh;
  margin: 0;
  padding-top: 50px;
  background-color: #fffaf0;
  background-image: radial-gradient(circle, #0036667d 1px, transparent 0);
  background-size: 1.5rem 1.5rem;
  font-weight: 400;
  font-family: sans-serif;
  color: #ffc300;
}

/*  */
.heroDivider {
  margin: -2rem 0 0;
  padding-top: 1rem;
  background-color: #003666;
  background-image: radial-gradient(circle, #ffc400b4 1px, transparent 0);
  background-size: 1.5rem 1.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  height: 350px;
  position: relative;
  transform: skew(0deg, -2deg);
  z-index: 1;
}
.heroDivider div {
  transform: skew(0deg, 2deg);
  font-family: var(---basefont);
  font-size: 30px;
  text-align: center;
 }
