.home {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding-top: 3.1rem;
  padding-bottom: 3rem;
  background-color: #fffaf0;
  background-image: radial-gradient(circle, #0036667d 1px, transparent 0);
  background-size: 1.5rem 1.5rem;
  font-weight: 400;
  font-family: var(---basefont);
  color: #ffc300;
}

/* Headline */
.heroDivider {
  position: relative;
  height: 23.75rem;
  margin: -2rem 0 0;
  padding-top: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: var(---basedark);
  background-image: radial-gradient(circle, #ffc400b4 1px, transparent 0);
  background-size: 1.5rem 1.5rem;
  transform: skew(0deg, -2deg);
  z-index: 1;
  overflow: hidden;
}

.heroDivider h1 {
  margin: 0;
  padding: 0.4rem 0 0 0;
}

.heroDivider div {
  font-size: 3.4rem;
  text-align: center;
}

/*  Headline Animation */
.noHeadlineOne,
.noHeadlineTwo,
.noHeadlineThree,
.noheadlineDivider {
  opacity: 0;
  opacity: 0;
  opacity: 0;
  opacity: 0;
}

.noHeadlineOne {
  transition: opacity 1s ease-in-out, transform 1.7s ease-in-out;
  transform: translateX(-100%) skew(0deg, 2deg);
}

.noHeadlineTwo {
  transition: opacity 1s ease-in-out, transform 1.8s ease-in-out;
  transform: translateX(-120%) skew(0deg, 2deg);
}

.noHeadlineThree {
  transition: opacity 1s ease-in-out, transform 1.9s ease-in-out;
  transform: translateX(-140%) skew(0deg, 2deg);
}

.noheadlineDivider {
  transform: translateX(-100%) skew(0deg, 2deg);
  transition: opacity 1s ease-in-out, transform 1.8s ease-in-out;
}

.headlineOne,
.headlineTwo,
.headlineThree,
.headlineDivider,
.headlineDivider2 {
  opacity: 1;
  transform: translateX(0%) skew(0deg, 2deg);
}

.headlineDivider,
.headlineDivider2 {
  height: 0.35rem;
  margin: 0.3rem auto;
  border-radius: 1px;
  background-color: var(---baselight);
}

.headlineDivider {
  width: 16rem;
}

.headlineDivider2 {
  width: 21rem;
}

@media (max-width: 768px) {
  .heroDivider {
    height: 16rem;
  }

  .heroDivider div {
    font-size: 2rem;
  }
  .headlineDivider {
    width: 9.6rem;
  }
  .headlineDivider2 {
    width: 12.5rem;
  }
  .headlineDivider,
  .headlineDivider2 {
    height: 0.25rem;
  }
}
/* done */