.home {
  min-height: 250vh;
  height: 100%;
  margin: 0;
  padding-top: 50px;
  background-color: #fffaf0;
  background-image: radial-gradient(circle, #0036667d 1px, transparent 0);
  background-size: 1.5rem 1.5rem;
  font-weight: 400;
  font-family: var(---basefont);
  color: #ffc300;
}

/*  */
.heroDivider {
  margin: -2rem 0 0;
  padding-top: 1rem;
  background-color: var(---basedark);
  background-image: radial-gradient(circle, #ffc400b4 1px, transparent 0);
  background-size: 1.5rem 1.5rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  height: 380px;
  position: relative;
  transform: skew(0deg, -2deg);
  z-index: 1;
  overflow: hidden;
}
.heroDivider h1 {
  margin: 0;
  padding: 0.4rem 0 0 0;
}
.heroDivider div {
  font-size: 55px;
  text-align: center;
}
.heroOne,
.heroTwo,
.heroThree {
  transform: skew(0deg, 2deg);
}
/*  */

.noheadlineDivider {
  transform: translateX(-100%) skew(0deg, 2deg);
  transition: opacity 1s ease-in-out, transform 1.5s ease-in-out;
  opacity: 0;
}
.headlineDivider,
.headlineDivider2 {
  height: 0.35rem;
  margin: 0.3rem auto;
  background-color: var(---baselight);
  border-radius: 1px;
  transform: translateX(0%) skew(0deg, 2deg);
  opacity: 1;
}
.headlineDivider {
  width: 16rem;
}
.headlineDivider2 {
  width: 21rem;
}

/* 
 */
