/* navbar.module.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(---basedark);
}
img {
  max-height: 60px;
  margin: -1rem;
  padding: 0;
}
.toggleButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  z-index: 20;
}

.toggleButton div {
  width: 1.7rem;
  height: 0.25rem;
  border-radius: 2px;
  transition: all 0.4s linear;
  transform-origin: 1px;
  margin: 0.3rem;
}

.bigScreenMenu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  overflow: hidden;
  z-index: 9;
}

.bigScreenMenu li {
  margin-right: 1rem;

  /* display: inline-block; */
}

.bigScreenMenu a {
  text-decoration: none;
  color: var(---baselight);
  font-weight: bold;
  font-size: 1.2rem;

  transition: color 0.3s ease-in-out;
}

.bigScreenMenu a:hover {
  color: white;
}

.smallScreenMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 5px 0;
  padding-top: 80px;
  background-color: var(---baselight);
  width: 30%;
  box-shadow: 0 2px 10px rgba(0 0 0, 0.4);
  z-index: 10;
  list-style: none;
  padding: 80px 0 20px 20px;
  margin: 0;
}
.smallScreenMenu a {
  text-decoration: none;
  color: var(---basedark);
  font-weight: bold;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}
.hamburgerLink {
  padding: 1rem;
}

@media (max-width: 765px) {
  .bigScreenMenu {
    display: none;
  }
}
@media (min-width: 765px) {
  .toggleButton {
    display: none;
  }
}

.active {
  opacity: 0.7;
}
.activeLogo {
  opacity: 0;
}
